<meta charset="UTF-8">
<title>MailChimp</title>

<script src="../js/lib/angular/angular.js" type="text/javascript-lazy"></script>
<script src="../js/lib/angular/angular.min.js" type="text/javascript-lazy"></script>
<script src="../js/lib/angular/angular-resource.js" type="text/javascript-lazy"></script>

<script src="../js/app.js" type="text/javascript-lazy"></script>
<script src="../js/services.js" type="text/javascript-lazy"></script>
<script src="../js/controllers.js" type="text/javascript-lazy"></script>
<script src="../js/filters.js" type="text/javascript-lazy"></script>
<script src="../js/directives.js" type="text/javascript-lazy"></script>

<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/styles.css">

